.header-logo {
    height: 75px;
    width: 75px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.portal-img {
    background-image: url(https://m.media-amazon.com/images/M/MV5BZjRjOTFkOTktZWUzMi00YzMyLThkMmYtMjEwNmQyNzliYTNmXkEyXkFqcGdeQXVyNzQ1ODk3MTQ@._V1_.jpg);
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    object-fit: cover
}

.comment {
    min-height: 100%;

}

.shadow-box {

    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.85);
}

.spill {
    transform: translateY(6rem);
}

/* .text-area {
    height: 7rem;
    width: 27rem;
} */