* {
    font-family: 'Trispace', sans-serif;
}

.header-logo {
    height: 75px;
    width: 90px;
}

.title-logo {
    height: 75px;
    width: 200px;
}

.portal-green {
    background-color: rgb(153, 231, 37);

}

.btn-success {
    background-color: rgb(92, 137, 24);
    border-color: rgb(92, 137, 24);
}


.portal-img {
    background-image: url(https://m.media-amazon.com/images/M/MV5BZjRjOTFkOTktZWUzMi00YzMyLThkMmYtMjEwNmQyNzliYTNmXkEyXkFqcGdeQXVyNzQ1ODk3MTQ@._V1_.jpg);
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    object-fit: cover
}

.comment {
    min-height: 100%;

}

.video {
    min-width: 100%;
    min-height: 100%;

}





.shadow-box {

    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.85);
}

/* This applies only to med screens or smaller */

@media (max-width: 768px) {

    .text-dis {
        display: none;
    }

    .video {
        min-width: 100%;
        height: 350px;


    }

}


/* This applies only to med screens or bigger */

@media (min-width: 768px) {

    .spill {
        transform: translateY(6rem);
    }
}